body{margin: 0;display: flex; align-items: center; justify-content: center; height: 100vh;
background-color: purple;}

.Form {
    height: 600px;
    width: 475px;
    background-color: bisque;
    border-radius: 10px;

    > .Title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.Title {
    height: 50px;

    span {
        text-decoration: underline;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.Form-body {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    row-gap: 20px;
}

.Field {
    width: 100%;
    display: flex;
    justify-content: center;
}