body{margin: 0;display: flex; align-items: center; justify-content: center; height: 100vh;
background-color: purple;}

.Form {
    height: 600px;
    width: 475px;
    background-color: bisque;
    border-radius: 10px;
    text-align: center;

    > .Title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.Title {
    height: 100px;
    background-color: beige;
    border-radius: 10px 10px 0 0;

    span {
        text-decoration: underline;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.Form-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Intern {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 20px;
    row-gap: 20px;
}

.Extern {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: azure;
    width: 400px;
    height: 100px;
}

.Field {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Two-Column-Field {
    width: 100%;
    display: flex;
    justify-content: center;

}