body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    > div {
        width: 100%;
    }

    a {
        display: grid;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
    }
}

.preso {
    position: fixed;
}

.top-bar {
    display: flex;
    background-color: #154194;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;

    img {
        height: 45px;
    }

    a:hover > div {
        background-color: #103476;
    }

    a:hover > .botao-lupa {
        background-color: #0059ff;
    }
}

.seq-botoes-top {
    padding: 0 148px 0 64px;
    display: flex;
    gap: 15px;
}

.botoes-top {
    border-radius: 6px;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    font-weight: 600;
    padding: 0 7px 0 7px;
}

.botao-baixar {
    background-color: #006dff;
    border-radius: 6px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    font-weight: 600;
    padding: 0 10px 0 10px;
}

.botao-lupa {
    border-radius: 50%;
    background-color: #2d549f;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
}

.sombra {
    width: 100%;
    height: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.secao1 {
    background-color: #103476;
    height: auto;
    padding-top: 90px;
}

.secao2 {
    padding-top: 45px;
}

.seq-quadros {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-bottom: 45px;

    a:hover > div {
        box-shadow: 1px 1px 7px rgb(255, 255, 255);
    }
}

.quadro-maior {
    width: 587.5px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 1px 1px 2px black;

    .imagem {
        height: 308px;

        img {
            width: 587.5px;
            border-radius: 6px 6px 0 0;
        }
    }

    .titulo {
        padding-left: 20px;

        h2 {
            letter-spacing: 0.005px;
            font-size: 22.5px;
            color: rgb(49, 49, 49);
            font-weight: 900;
            line-height: 26px;    
        }
    }

    .detalhes {
        padding: 0 0 20px 20px;
        width: 545px;
        display: flex;

        span {
            letter-spacing: 0.005px;
            font-size: 12px;
            color: gray;
            font-weight: 500;
            width: 100%;
        }

        .hora {
            text-align: right;
        }
    }
}

.quadro-menor {
    width: 379px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 1px 1px 2px black;

    .imagem {
        height: 198.78px;

        img {
            width: 379px;
            border-radius: 6px 6px 0 0;
        }
    }

    .titulo {
        padding-left: 15px;

        h2 {
            letter-spacing: 0.1px;
            font-size: 18.5px;
            color: rgb(49, 49, 49);
            font-weight: 900;
            line-height: 26px;    
        }
    }

    .detalhes {
        padding: 0 0 20px 15px;
        width: 343.72px;
        display: flex;

        span {
            letter-spacing: 0.005px;
            font-size: 12px;
            color: gray;
            font-weight: 500;
            width: 100%;
        }

        .hora {
            text-align: right;
        }
    }
}