@font-face { font-family: 'Undertale';
src: url('Fontes/DeterminationMonoWebRegular-Z5oq.ttf'); }

* {
    font-family: Undertale;

    a {
        text-decoration: none;
    }
}

body {
    margin: 0;
    background-color: black;
}

.top-bar-background {
    width: 100%;
}

.yellowbutton {
    div:hover {
        border-color: red;
    }
}

.up-buttom {
    position: fixed;
    width: 25px;
    height: 25px;
    background-color: black;
    border: solid white 5px;
    left: 96%;
    top: 90%;

    img  {
        height: 25px;
        width: 100%;
    }
}

.top-bar {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    border: solid #c79e56 5px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
    background-color: rgb(134, 2, 2);
    width: 98%;
    height: 50px;

    a, .seq-botoes {
        margin: 0 20px 0 20px;
        color: rgb(255, 255, 255);
    }

    a:hover span {
        color: yellow;
    }

    .sobre-nos {
        display: flex;
        align-items: center;

        span {
            font-size: 25px;
            padding-left: 6px;
        }
    }
}

.seq-botoes {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;

    a:hover img {
        visibility: visible;
    }
}

.botao {
    font-size: 25px;
    text-align: end;

    img {
        height: 16px;
        width: auto;
        visibility: hidden;
    }
}

.shop-background {
    display: flex;
    align-items: center;
    background-color: rgb(134, 2, 2);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding-top: 4.5px;

    img {
        height: 350px;
        width: auto;
    }
}

.descr  {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 59, 5);
    border: solid white 5px;
    color: white;
    border-radius: 10px;
    width: 370px;
    height: 250px;

    p {
        font-size: 26px;
        margin: 20px;
        word-wrap: break-word;
    }
}

.secao1 {
    display: flex;
    flex-direction: column;
    border: solid #c79e56 5px;
    background-image: url(Imagens/Fundo.jpeg);
    background-repeat: repeat;
}

.titulo {
    padding: 30px 0 30px 0;
    font-size: 150px;
    text-align: center;
    border-bottom: solid #c79e56 5px;
    color: white;
}

.subtitulo {
    font-size: 50px;
    text-align: center;
    color: white;
}

.bloco-alimentos {
    margin: 10px auto 10px;
    width: 1200px;
    border: solid #c79e56 5px;
    border-radius: 60px;
    background-color: rgb(0, 59, 5);
    text-align: center;

    > span {
        font-size: 50px;
        border-bottom: solid white 5px;
        color: white;    
    }
}

.quadro-alimentos {
    margin: 20px 0 20px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 17.5% 17.5% 17.5% 17.5% 17.5%;
    justify-content: center;
    justify-items: center;

    a:hover div {
        border-color: rgb(250, 217, 29);
    }
}

.alimento {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    border: solid white 5px;
    border-radius: 10px;
    background-color: #bb7b0d;

    img {
        height: 127px;
        width: auto;
    }

    .titulo-preco {
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 25px;
        background-color: rgb(107, 12, 12);
        border-radius: 5px;
    }

    span {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}

.detalhes {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    margin: 15px 0 30px 0;

    img {
        height: 300px;
        width: auto;
        margin: 0 30px 0 30px;
    }
}

.seq-coment {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 30.7% 30.7% 30.7%;
    justify-content: space-evenly;
    padding: 15px 0 15px 0;
    justify-items: center;
}

.comentario {
    display: flex;
    border: solid white 5px;
    height: 100px;
    width: 400px;
    align-items: center;

    img {
        height: 90px;
        width: 90px;
        margin-left: 10px;
    }

    p {
        font-size: 20px;
        margin: 20px;
        word-wrap: break-word;    
    }
}

.creditos {
    display: flex;
    border: solid white 5px;
    height: 50px;
    line-height: 50px;
    justify-content: center;
    column-gap: 20px;

    span {
        font-size: 25px;
    }
}